<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/web-socket/web-socket.html">

<dom-module id="web-socket-component-alt">
    <template>
        <style>
        </style>

        <p>Componente websocket alt!</p>
        <web-socket url="ws://localhost:8080"
            auto json
            on-open="_onOpen"
            on-close="_onClose"
            on-message="_onMessage"
            on-error="_onError">
</web-socket>

        <span>Estos son los mensajes:</span>
        <p>[[websocketMessages]]</p>

    </template>

    <script>
       
        class WebSocketComponentAlt extends Polymer.Element {
           
            static get is() {return 'web-socket-component-alt';}

            static get properties() {
                return {
                    websocketMessages: {
                        type: Array,
                        notify: true,
                        value: () => []
                    },
                };
            }

            _onClose(event) {
                console.log("Close Websocket.")
            }

            _onError(event) {
                console.log("Close Websocket.")
            }

            _onOpen(event) {
                console.log("Conectado al websocket. Enviando mensaje.")
                
            }

            _onMessage(event) {
                console.log("Message received from echo websocket server:", event.detail.data);
                this.push('websocketMessages', (new Date()).toLocaleTimeString() + ' -- ' + event.detail.data);
            }

            ready(){
                super.ready();
                console.log("Websocket Component ready!");
                
            }

        }

        window.customElements.define(WebSocketComponentAlt.is, WebSocketComponentAlt);
    </script>
</dom-module>