<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/websocket-component/shared-websocket-component.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">

<dom-module id="web-socket-component">
    <template>
        <style>
            paper-button.indigo {
                background-color: var(--paper-indigo-500);
                color: white;
                --paper-button-raised-keyboard-focus: {
                    background-color: var(--paper-pink-a200) !important;
                    color: white !important;
                };
                }
        </style>

        <p>Componente websocket!</p>
        <websocket-component
            id="websocket"
            url="ws://localhost:8085" auto
            on-websocket-open="_sendWebsocketMessage"
            on-websocket-error="_error"
            on-websocket-message="_addWebsocketMessage">
        </websocket-component>

        <paper-button class="indigo" on-tap="_enviarMensaje">Enviar mensaje websocket!</paper-button>
        <p></p>
        <span>Estos son los mensajes:</span>
        <p>[[websocketMessages]]</p>

    </template>

    <script>
       
        class WebSocketComponent extends Polymer.Element {
           
            static get is() {return 'web-socket-component';}

            static get properties() {
                return {
                    websocketMessages: {
                        type: Array,
                        notify: true,
                        value: () => []
                    },
                };
            }

            _error(event) {
                console.log("Error en Websocket.")
            }

            _enviarMensaje(evt){
                console.log("Enviando mensaje al servidor.")
                this.$.websocket.send("Mensaje desde el cliente: " + Date.now());
            }

            _sendWebsocketMessage(event) {
                console.log("Conectado al websocket. Enviando mensaje.")
                this.$.websocket.send("Prueba desde el cliente...");
            }

            _addWebsocketMessage(event) {
                console.log("Message received from echo websocket server:", event.detail.data);
                this.push('websocketMessages', (new Date()).toLocaleTimeString() + ' -- ' + event.detail.data);
            }

            ready(){
                super.ready();
                console.log("Websocket Component ready!");
                
            }

        }

        window.customElements.define(WebSocketComponent.is, WebSocketComponent);
    </script>
</dom-module>